<app-message #message (closeEvent)="closeEvent($event)"></app-message>

<app-client *ngIf="isClientEditor" title="{{'CLIENT.TITLE' | translate}}" buttonCaption="{{'BUTTON.BACK' | translate}}"
  [clientType]="clientType" (editorResult)="clientSave($event)" (editorClose)="clientCancel()"></app-client>

<div *ngIf="isMain">
  <div class="row">

    <div class="col-xxl-6">

      <div class="card card-primary card-outline">
        <div class="card-header">
          <h3 class="card-title">{{'PARTY.LABEL.ORDER' | translate}}</h3>
        </div>
        <div class="card-body">

          <!-- Party Number -->
          <div class="form-group">
            <label for="partyNumber">{{'PARTY.LABEL.PARTY' | translate}}</label>
            <div class="input-group">
              <input #partyNumber id="partyNumber" type="number" class="form-control" [(ngModel)]="item.partyNumber"
                [attr.readonly]="isNew ? null : ''">
              <span *ngIf="isNew" class="input-group-append">
                <a class="btn btn-outline-secondary" (click)="chooseNumber()">
                  <i class="fas fa-sync"></i>
                  <!-- <span>{{ 'BUTTON.EDIT' | translate }}</span> -->
                </a>
              </span>
            </div>
          </div>

          <!-- Sample -->
          <div class="form-group">
            <label for="sample1">{{'PARTY.LABEL.SAMPLE' | translate}}</label>

            <div class="row">
              <div class="col">
                <div class="input-group">
                  <input #sample1 id="sample1" type="number" class="form-control" [(ngModel)]="item.sampleNumber1"
                    [attr.readonly]="isNew ? null : ''">
                  <span *ngIf="isNew" class="input-group-append">
                    <a class="btn btn-outline-secondary" (click)="chooseSample1()">
                      <i class="fas fa-sync"></i>
                      <!-- <span>{{ 'BUTTON.EDIT' | translate }}</span> -->
                    </a>
                  </span>
                </div>
              </div>
              <div class="col">
                <div class="input-group">
                  <input #sample2 id="sample2" type="number" class="form-control" [(ngModel)]="item.sampleNumber2"
                    [attr.readonly]="isNew ? null : ''">
                  <span *ngIf="isNew" class="input-group-append">
                    <a class="btn btn-outline-secondary" (click)="chooseSample2()">
                      <i class="fas fa-sync"></i>
                      <!-- <span>{{ 'BUTTON.EDIT' | translate }}</span> -->
                    </a>
                  </span>
                </div>
              </div>
            </div>
          </div>

          <!-- Date -->
          <div class="form-group">
            <label for="inDate">{{'LABEL.DATE' | translate}}</label>
            <input id="inDate" type="date" class="form-control datetimepicker-input"
              [ngModel]="item.inDate | date:'yyyy-MM-dd'" (ngModelChange)="setDate($event)"
              [attr.readonly]="isNew ? null : ''">
          </div>

          <!-- Area -->
          <div class="form-group">
            <label for="area">{{'PARTY.LABEL.AREA' | translate}}</label>
            <input id="area" type="number" class="form-control" [(ngModel)]="item.area">
          </div>

          <!-- Material  -->
          <div class="form-group">
            <label for="material">{{'MATERIAL.LABEL.NAME' | translate}}</label>
            <select id="material" class="form-select" [(ngModel)]="item.materialId">
              <option *ngFor="let material of materials" [value]="material.materialId">{{material.name}}</option>
            </select>
          </div>

          <!-- Fresh Product -->
          <div class="form-group">
            <label for="freshProduct">{{'PARTY.LABEL.FRESH' | translate}}</label>
            <input id="freshProduct" type="number" class="form-control" [ngModel]="item.freshProduct"
              (ngModelChange)="setFreshProduct($event)">
          </div>


          <div class="row">
            <div class="col">
              <!-- Organic  -->
              <div class="form-group">
                <label for="organic">{{'PARTY.LABEL.ORGANIC' | translate}}</label>
                <select id="organic" class="form-select" [(ngModel)]="item.organicId">
                  <option *ngFor="let organic of organics" [value]="organic.organicId">{{organic.name}}</option>
                </select>
              </div>
            </div>
            <div class="col">
              <!-- Probe  -->
              <div class="form-group">
                <label for="probe">{{'PARTY.LABEL.PROBE' | translate}}</label>
                <select id="probe" class="form-select" [(ngModel)]="item.probeId">
                  <option *ngFor="let probe of probes" [value]="probe.probeId">{{probe.name}}</option>
                </select>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>

    <div class="col-xxl-6">


      <app-client-info title="{{'PARTY.LABEL.CUSTOMER' | translate}}" [isEdit]="isNew" [client]="item.client"
        (clickEdit)="clientOpen()"></app-client-info>


      <div class="card card-secondary card-outline">

        <div class="card-header">
          <h3 class="card-title"><span class="align-middle">{{'LABEL.EXTRA' | translate}}</span></h3>
        </div>

        <div class="card-body">

          <div class="row">
            <div class="col">

              <!-- Dry Product -->
              <div class="form-group">
                <label for="dryProduct">{{'PARTY.LABEL.DRY' | translate}}</label>
                <input id="dryProduct" type="number" class="form-control" [ngModel]="item.dryProduct"
                  (ngModelChange)="setDryProduct($event)">
              </div>

            </div>
            <div class="col">

              <!-- Humidity -->
              <div class="form-group">
                <label for="humidity">{{'PARTY.LABEL.HUMIDITY' | translate}}</label>
                <input id="humidity" type="number" class="form-control" [(ngModel)]="item.humidity" readonly>
              </div>

            </div>
          </div>

          <!-- PackType  -->
          <div class="form-group">
            <label for="packType">{{'PARTY.LABEL.PRODUCE' | translate}}</label>
            <select id="packType" class="form-select" [(ngModel)]="item.packTypeId">
              <option *ngFor="let packType of packTypes" [value]="packType.packTypeId">{{packType.name}}</option>
            </select>
          </div>

          <!-- Price -->
          <div class="form-group">
            <label *ngIf="isDrying" for="dryPrice">{{'LABEL.PRICE' | translate}}</label>
            <label *ngIf="isTrade" for="dryPrice">{{'PARTY.LABEL.PRICEIN' | translate}}</label>
            <input id="dryPrice" type="number" class="form-control" [(ngModel)]="item.dryPrice">
          </div>

          <div *ngIf="isDrying" class="row">
            <div class="col">

              <!-- Discount Supply -->
              <div class="form-group">
                <label for="discountSupply">{{'PARTY.LABEL.DISCOUNT.SUPPLY' | translate}}</label>
                <input id="discountSupply" type="number" class="form-control" [(ngModel)]="item.discountSupply">
              </div>

            </div>
            <div class="col">

              <!-- Discount Disposal -->
              <div class="form-group">
                <label for="discountDisposal">{{'PARTY.LABEL.DISCOUNT.DISPOSAL' | translate}}</label>
                <input id="discountDisposal" type="number" class="form-control" [(ngModel)]="item.discountDisposal">
              </div>

            </div>
          </div>

        </div>
      </div>

    </div>

  </div>

  <div class="row">
    <div class="col-12">
      <a href="#" class="btn btn-secondary" [routerLink]="backLink()">{{'BUTTON.CANCEL' | translate}}</a>
      <input *ngIf="!isNew" type="submit" value="{{'BUTTON.SAVE' | translate}}" class="btn btn-primary float-right">
      <input *ngIf="isNew" type="submit" value="{{'BUTTON.NEW' | translate}}" class="btn btn-success float-right">
    </div>
  </div>

</div>
