<ng-template #content let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title">{{title}}</h5>
  </div>
  <div class="modal-body">
      <p>{{message}}</p>
  </div>
  <div class="modal-footer">
    <button *ngIf="!isDelete" type="button" class="btn btn-primary" (click)="modal.close(0)">{{'BUTTON.OK' | translate}}</button>
    <button *ngIf="isDelete" type="button" class="btn btn-danger" (click)="modal.close(0)">{{'BUTTON.DELETE' | translate}}</button>
    <button [attr.ngbAutofocus]="isDelete ? '' : null" *ngIf="isAsk" type="button" class="btn btn-secondary ml-3" (click)="modal.close(1)">{{'BUTTON.CANCEL' | translate}}</button>
  </div>
</ng-template>
