<app-message #message (answerEvent)="answerEvent($event)"></app-message>

<app-title buttonCaption="{{ 'BUTTON.NEW' | translate }}" (buttonClick)="add()">
  {{ 'CONTRACT.TITLE' | translate }}
</app-title>

<app-editor>
  <div class="row">
    <div class="col">

      <div class="card card-primary card-outline">

        <div class="card-body">

          <table id="table" #table class="table table-sm table-bordered table-striped">
            <thead>
              <tr>
                <th></th>
                <th>{{ 'CONTRACT.LABEL.YEAR' | translate }}</th>
                <th>{{ 'LABEL.DATE' | translate }}</th>
                <th>{{ 'CONTRACT.LABEL.SEND' | translate }}</th>
                <th>{{ 'CONTRACT.LABEL.SIGN' | translate }}</th>
                <th></th>
              </tr>
            </thead>
            <tbody *ngIf="items?.length !== 0">
              <tr *ngFor="let item of items">
                <td style="width:5%" class="text-center">
                  <i *ngIf="item.contractState === 1" class="fa fa-envelope text-primary"></i>
                  <i *ngIf="item.contractState === 2" class="fa fa-print text-success"></i>
                  <i *ngIf="item.contractState === 3" class="fa fa-check text-success"></i>
                </td>
                <td style="width:20%" class="text-center">{{ item.contractYear }}</td>
                <td style="width:25%" class="text-center">{{ item.inDate | date:'dd-MM-yyyy' }}</td>
                <td style="width:25%" [class] = "item.contractState < 3 ? '' : 'text-center'">
                  <a *ngIf="item.contractState < 3" class="btn-grass-primary" (click)="send(item.clientContractId)"
                    ngbTooltip="{{ 'CONTRACT.LABEL.SEND' | translate }}" tooltipClass="tooltip-grass">
                    <i class="fa fa-envelope">
                    </i>
                  </a>
                  <a *ngIf="item.contractState < 3" class="btn-grass-info ml-1" (click)="print(item.clientContractId)"
                    ngbTooltip="{{ 'BUTTON.PRINT' | translate }}" tooltipClass="tooltip-grass">
                    <i class="fa fa-print">
                    </i>
                  </a>
                  <span class="ml-2">{{ item.sendDate | date:'dd-MM-yyyy' }}</span>
                </td>

                <td style="width:25%" [class] = "item.contractState < 3 ? '' : 'text-center'">
                  <a *ngIf="item.contractState < 3" class="btn-grass-success ml-1"
                    (click)="sign(item.clientContractId)" ngbTooltip="{{ 'CONTRACT.LABEL.SIGN' | translate }}"
                    tooltipClass="tooltip-grass">
                    <i class="fa fa-check">
                    </i>
                  </a>
                  <span class="ml-2">{{ item.signDate | date:'dd-MM-yyyy' }}</span>
                </td>

                <td class="w-content project-actions text-center">
                  <div ngbDropdown class="d-inline-block">
                    <a class="btn-grass-secondary caret-off" ngbTooltip="{{ 'BUTTON.CHOOSE' | translate }}"
                      tooltipClass="tooltip-grass" id="dropdownBasic1" ngbDropdownToggle>
                      <i class="fas fa-bars ">
                      </i>
                      <span class="btn-text">{{ 'BUTTON.CHOOSE' | translate }}</span>
                    </a>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                      <button ngbDropdownItem (click)="unsign(item.clientContractId)">{{ 'CONTRACT.LABEL.UNSIGN' | translate }}</button>
                      <div class="dropdown-divider"></div>
                      <button ngbDropdownItem (click)="send(item.clientContractId)">{{ 'CONTRACT.LABEL.SEND' | translate }}</button>
                      <button ngbDropdownItem (click)="print(item.clientContractId)">{{ 'BUTTON.PRINT' | translate }}</button>
                      <div class="dropdown-divider"></div>
                      <button ngbDropdownItem class="text-danger" (click)="del(item.clientContractId)">Delete</button>
                    </div>
                  </div>
                </td>
              </tr>

            </tbody>
            <tbody *ngIf="items?.length === 0">
              <tr>
                <td colspan="6" class="no-data-available text-center">{{ 'LABEL.NO_DATA' | translate }}!</td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>

    </div>
    <div class="col">
      <app-client-info #clientInfo title="{{'PARTY.LABEL.CUSTOMER' | translate}}" [client]="client"></app-client-info>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <a href="#" class="btn btn-primary" routerLink="../..">{{'BUTTON.CLOSE' | translate}}</a>
    </div>
  </div>
</app-editor>

<div *ngIf="printId" id="dataToPrint">
  <app-client-contract-print #contract [printId]="printId" [client]="client"></app-client-contract-print>
</div>

