<div class="contract">

  <p class="text-end">{{printId}}</p>

  <br>
  <br>
  <br>

  <div class="row">
    <div class="col-8">
    </div>
    <div class="col-4">
      <p>{{client?.name}}</p>
      <p>{{client?.address}}</p>
      <p>
        <span>{{client?.postcode}}</span>
        <span class="ml-1">{{client?.postcodeId}}</span>
        <span class="ml-1">{{client?.residence}}</span>
      </p>
    </div>
  </div>

  <br>

  <p>Opeinde, {{date | date:'MMMM yyyy'}},</p>

  <p>Overeenkomst teelt en aanvoer groenvoedergewassen</p>

  <p>Geechte leverancier,</p>
  <p>De folder ‘Richtlijnen – Teelt en Aanvoer groenvoedergewassen’ opgesteld door de VNG, is bested voor agrariërs
    (akkerbouwers/veehouders) die groenvoer (gras/luzerme) laten loondrogen of aan Groenvoer Opeinde Friesland BV
    verkopen.</p>
  <p>Om de GMP+ richtlijnen/eisen te waarborgen moet Groenvoer Opeinde Friesland een getekende verklaring kunnen tonen,
    waaruit blijkt dat de agrarier/leverancier kennis genomen heeft en voldoet aan deze richtlijnen en aanvullende GMP+
    eisen op de achterkant van deze verklaring.</p>

  <br>

  <p>Ondergetekende,</p>

  <div class="row">
    <div class="col-2">Naam</div>
    <div class="col-1">:</div>
    <div class="col-9">{{client?.name}}</div>
  </div>

  <div class="row">
    <div class="col-2">Adres</div>
    <div class="col-1">:</div>
    <div class="col-9">{{client?.address}}</div>
  </div>

  <div class="row">
    <div class="col-2">Woonplaats</div>
    <div class="col-1">:</div>
    <div class="col-9">{{client?.residence}}</div>
  </div>

  <div class="row">
    <div class="col-2">Telefoon</div>
    <div class="col-1">:</div>
    <div class="col-9">{{client?.phone}}</div>
  </div>

  <p></p>
  <p>Ondergetekende verklaart kennis te hebben genomen van de inhoud van de folder ‘Richtlijnen – Teelt en Aanvoer
    groenvoedergewassen’ en de aanvullende GMP+ eisen op de achterkant van deze verklaring.</p>
  <p>Ondergetekende verklaart tevens dat de geleverde groenvoeders aan de genoemde eisen en richtlijnen voldoen.</p>

  <br>

  <div class="row">
    <div class="col-2">Naam</div>
    <div class="col-1">:</div>
    <div class="col-9 line"></div>
  </div>

  <div class="row">
    <div class="col-2">UBN</div>
    <div class="col-1">:</div>
    <div class="col-9 line"></div>
  </div>

  <div class="row">
    <div class="col-2">Plaats + datum</div>
    <div class="col-1">:</div>
    <div class="col-9 line"></div>
  </div>

  <br>

  <div class="row">
    <div class="col-2">Handtekening</div>
    <div class="col-1">:</div>
    <div class="col-9 line"></div>
  </div>

  <br>

  <p class="small">*Leverancier ontvangt de folder ‘Richtlijnen - Teelt en Aanvoer groenvoedergewassen’ en een kopie van
    de aanvullende GMP+ eisen zoals vermeld op de achterkant van deze verklaring.</p>

</div>
