<div class="row">
  <div class="col-xxl-6">
    <div class="card card-primary card-outline">
      <div class="card-header">
        <h3 class="card-title">{{'LABEL.GENERAL' | translate}}</h3>
      </div>
      <div class="card-body">

        <!-- Name -->
        <div class="form-group">
          <label for="name">{{'LABEL.NAME' | translate}}</label>
          <input #nameInput type="text" id="name" name="name" class="form-control" [(ngModel)]="item.name"
            #name="ngModel" required appAutofocus>
          <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger" role="alert">
            <div *ngIf="name.errors?.['required']">
              {{'LABEL.NAME.REQUIRED' | translate}}
            </div>
          </div>
        </div>

        <!-- Address -->
        <div class="form-group">
          <label for="address">{{'CLIENT.LABEL.ADDRESS' | translate}}</label>
          <textarea id="address" class="form-control" [(ngModel)]="item.address" rows="3"></textarea>
        </div>


        <div class="row">
          <div class="col">

            <!-- Postcode  -->
            <div class="form-group">
              <label for="postcode">{{'CLIENT.LABEL.POSTCODE' | translate}}</label>
              <input id="postcode" type="text" class="form-control" [(ngModel)]="item.postcode">
            </div>

          </div>
          <div class="col">

            <!-- Postcode  -->
            <div class="form-group">
              <label for="postcodeId">&nbsp;</label>
              <input id="postcodeId" type="text" class="form-control" [(ngModel)]="item.postcodeId">
            </div>

          </div>
        </div>

        <!-- Residence -->
        <div class="form-group">
          <label for="residence">{{'CLIENT.LABEL.RESIDENCE' | translate}}</label>
          <textarea id="residence" class="form-control" [(ngModel)]="item.residence" rows="2"></textarea>
        </div>

        <!-- Phone  -->
        <div class="form-group">
          <label for="phone" class="form-label">{{'CLIENT.LABEL.PHONE' | translate}}</label>
          <input id="phone" type="tel" class="form-control" [(ngModel)]="item.phone">
        </div>

        <!-- E-Mail  -->
        <div class="form-group">
          <label for="eMail" class="form-label">{{'CLIENT.LABEL.EMAIL' | translate}}</label>
          <input id="eMail" type="email" class="form-control" [(ngModel)]="item.eMail">
        </div>

        <!-- Client type  -->
        <div class="form-group">
          <label for="clientType">{{'CLIENT.LABEL.TYPE' | translate}}</label>
          <select id="clientType" class="form-select" [(ngModel)]="item.clientTypeId">
            <option *ngFor="let type of types" [value]="type.clientTypeId">{{type.name}}</option>
          </select>
        </div>

      </div>
    </div>
  </div>
  <div class="col-xxl-6">

    <div class="card card-secondary card-outline">
      <div class="card-header">
        <h3 class="card-title">{{'CLIENT.LABEL.NUMBER' | translate}}</h3>
      </div>
      <div class="card-body">

        <!-- Client number -->
        <div class="form-group">
          <label for="clientNumber">{{'CLIENT.LABEL.NUMBER' | translate}}</label>
          <input #clientNumber id="clientNumber" type="text" class="form-control" [(ngModel)]="item.clientNumber">
        </div>

        <hr class="my-4">

        <table class="table table-bordered table-sm table-striped">
          <thead>
            <tr>
              <th>{{ 'LABEL.NAME' | translate }}</th>
              <th>{{ 'LABEL.FROM' | translate }}</th>
              <th>{{ 'LABEL.TO' | translate }}</th>
              <th></th>
            </tr>
          </thead>
          <tbody *ngIf="ranges?.length !== 0">
            <tr *ngFor="let range of ranges">
              <td class="w-60">{{ range.name }}</td>
              <td class="text-end w-20">{{ range.rangeFrom }}</td>
              <td class="text-end w-20">{{ range.rangeTo }}</td>
              <td class="w-content text-center">
                <a class="btn-grass-primary" (click)="onUseRange(range.clientRangeId)">
                  <i class="fas fa-check"></i>
                  <span>{{ 'BUTTON.USE' | translate }}</span>
                </a>
              </td>
            </tr>
          </tbody>
          <tbody *ngIf="ranges?.length === 0">
            <tr>
              <td colspan="3" class="no-data-available">{{ 'LABEL.NO_DATA' | translate }}!</td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>

    <div class="card card-secondary card-outline">
      <div class="card-header">
        <h3 class="card-title">{{'LABEL.EXTRA' | translate}}</h3>
      </div>
      <div class="card-body">

        <div class="row">
          <div class="col">

            <!-- UBN  -->
            <div class="form-group">
              <label for="ubn" class="form-label">{{'CLIENT.LABEL.UBN' | translate}}</label>
              <input id="ubn" type="text" class="form-control" [(ngModel)]="item.ubn">
            </div>
          </div>

          <div class="col">

            <!-- MestNummer  -->
            <div class="form-group">
              <label for="mestnummer" class="form-label">{{'CLIENT.LABEL.MESTNUMMER' | translate}}</label>
              <input id="mestnummer" type="text" class="form-control" [(ngModel)]="item.mestnummer">
            </div>
          </div>

        </div>

        <hr class="my-4">

        <div class="row">
          <div class="col">
            <!-- ECO  -->
            <div class="form-check">
              <input type="checkbox" id="eco" class="form-check-input" [(ngModel)]="item.eco">
              <label for="eco" class="form-check-label">{{'CLIENT.LABEL.ECO' | translate}}</label>
            </div>

            <!-- GMP  -->
            <div class="form-check">
              <input type="checkbox" id="gmp" class="form-check-input" [(ngModel)]="item.gmp">
              <label for="gmp" class="form-check-label">{{'CLIENT.LABEL.GMP' | translate}}</label>
            </div>

            <!-- Paper  -->
            <div class="form-check">
              <input type="checkbox" id="paper" class="form-check-input" [(ngModel)]="item.paper">
              <label for="paper" class="form-check-label">{{'CLIENT.LABEL.PAPER' | translate}}</label>
            </div>

          </div>
          <div class="col">
            <!-- Intercompany  -->
            <div class="form-check">
              <input type="checkbox" id="intercompany" class="form-check-input" [(ngModel)]="item.intercompany">
              <label for="intercompany" class="form-check-label">{{'CLIENT.LABEL.INTERCOMPANY' | translate}}</label>
            </div>

            <!-- Not Active  -->
            <div class="form-check">
              <input type="checkbox" id="notActive" class="form-check-input" [(ngModel)]="item.notActive">
              <label for="notActive" class="form-check-label">{{'CLIENT.LABEL.NOTACTIVE' | translate}}</label>
            </div>

            <!-- Contract Signed  -->
            <div class="form-check">
              <input type="checkbox" id="contractSigned" class="form-check-input" [(ngModel)]="item.contractSigned">
              <label for="contractSigned" class="form-check-label">{{'CLIENT.LABEL.SIGNED' | translate}}</label>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<app-message #message (closeEvent)="closeEvent($event)"></app-message>
