<app-title buttonCaption="{{ 'BUTTON.NEW' | translate }}" routerLink="add" [isButtons]="this.items?.length === 0">
  {{ 'SHIP.TITLE' | translate }}
</app-title>

<app-editor>
  <div *ngIf="party" class="row">
    <div class="col">
      <app-client-info title="{{'PARTY.LABEL.CUSTOMER' | translate}}" [client]="party.client"></app-client-info>
    </div>
    <div class="col">
      <app-party-info [party]="party"></app-party-info>
    </div>
  </div>


  <div class="card card-primary card-outline">

    <div class="card-header">
      <h3 class="card-title"><span class="align-middle">{{'PARTY.LABEL.TRADE.INFO' | translate}}</span></h3>
    </div>

    <div class="card-body">

      <table id="table" #table class="table table-sm table-bordered table-striped">
        <thead>
          <tr>
            <th>{{ 'LABEL.DATE' | translate }}</th>
            <th>{{ 'CLIENT.LABEL.NAME' | translate }}</th>
            <th>{{ 'PARTY.LABEL.WEIGHT' | translate }}</th>
            <th>{{ 'PARTY.LABEL.PRODUCE' | translate }}</th>
            <th>{{ 'PARTY.LABEL.PRICE' | translate }}</th>
            <th>{{ 'PARTY.LABEL.TOTAL' | translate }}</th>
            <th></th>
          </tr>
        </thead>
        <tbody *ngIf="items?.length !== 0">
          <tr *ngFor="let item of items">
            <td style="width:5%">{{ item.outDate | date:'dd-MM' }}</td>
            <td style="width:50%">{{ item.client?.name }}</td>
            <td style="width:10%" class="text-end">{{ item.product }}</td>
            <td style="width:15%">{{ item.packType?.name }}</td>
            <td style="width:10%" class="text-end">{{ item.price | number:'1.2' }}</td>
            <td style="width:10%" class="text-end">{{ getTotal(item) | number:'1.2' }}</td>
            <td class="w-content project-actions text-center">
              <a class="btn-grass-primary" [routerLink]="['edit', item.partyOutId]">
                <i class="fas fa-pencil-alt">
                </i>
                <span class="btn-text">{{ 'BUTTON.EDIT' | translate }}</span>
              </a>
              <a class="btn-grass-danger ml-1" [routerLink]="['del', item.partyOutId]">
                <i class="fas fa-trash">
                </i>
                <span class="btn-text">{{ 'BUTTON.DELETE' | translate }}</span>
              </a>
            </td>
          </tr>
        </tbody>
        <tbody *ngIf="items?.length === 0">
          <tr>
            <td colspan="7" class="no-data-available text-center">{{ 'LABEL.NO_DATA' | translate }}!</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>

  <div class="row">
    <div class="col">
      <a href="#" class="btn btn-primary" routerLink="../..">{{'BUTTON.CLOSE' | translate}}</a>
    </div>
  </div>

</app-editor>
