<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1><ng-content></ng-content></h1>
            </div>
            <div *ngIf="isButtons && buttonCaption" class="col-sm-6">
                <a *ngIf="routerLink" class="btn btn-success float-right" [routerLink]="[routerLink]">{{buttonCaption}}</a>
                <a *ngIf="!routerLink" class="btn btn-success float-right" (click)="doClick()">{{buttonCaption}}</a>
            </div>
        </div>
    </div>
</section>
