<app-title>{{'BUTTON.EDIT' | translate}}</app-title>

<app-editor>
  <form #form="ngForm" (ngSubmit)="onSubmit()" autocomplete="off">
    <div class="card card-primary">
      <div class="card-body">

        <!-- Name -->
        <div class="form-group">
          <label for="name">{{'LABEL.NAME' | translate}}</label>
          <input #nameInput type="text" id="name" name="name" class="form-control" [(ngModel)]="item.name"
            #name="ngModel" required appAutofocus>
          <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger" role="alert">
            <div *ngIf="name.errors?.['required']">
              {{'LABEL.NAME.REQUIRED' | translate}}
            </div>
          </div>
        </div>

        <!-- Value  -->
        <div class="form-group">
          <label for="value">{{'LABEL.VALUE' | translate}}</label>
          <input id="value" name="value" type="text" class="form-control" [(ngModel)]="item.value">
        </div>

        <!-- Number  -->
        <div class="form-group">
          <label for="btwNumber">{{'LABEL.NUMBER' | translate}}</label>
          <input id="btwNumber" name="btwNumber" type="number" class="form-control" [(ngModel)]="item.btwNumber" readonly>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <a href="#" class="btn btn-secondary" [routerLink]="['/btw']">{{'BUTTON.CANCEL' | translate}}</a>
        <input type="submit" value="{{'BUTTON.SAVE' | translate}}" class="btn btn-primary float-right">
      </div>
    </div>
  </form>
</app-editor>
