<app-message #message (closeEvent)="closeEvent($event)"></app-message>

<app-client *ngIf="pageClient" title="{{'CLIENT.TITLE' | translate}}" [buttonCaption]="'BUTTON.BACK' | translate"
  [clientType]="clientType" (editorResult)="pageClientResult($event)" (editorClose)="pageClientHide()"></app-client>

<form *ngIf="pageMain" (ngSubmit)="submit()" autocomplete="off">

  <div class="row">
    <div class="col-xxl-6">

      <div class="card card-primary card-outline">

        <div class="card-body">

          <!-- Date -->
          <div class="form-group">
            <label for="inDate">{{'LABEL.DATE' | translate}}</label>
            <input id="inDate" name="inDate" type="date" class="form-control datetimepicker-input"
              [ngModel]="item?.outDate | date:'yyyy-MM-dd'" (ngModelChange)="setDate($event)"
              [attr.readonly]="isDel ? '' : null">
          </div>

          <!-- PackType  -->
          <div class="form-group">
            <label for="packType">{{'PARTY.LABEL.PRODUCE' | translate}}</label>
            <select id="packType" name="packType" class="form-select" [(ngModel)]="item.packTypeId"
              [attr.disabled]="isDrying ||  isDel ? '' : null">
              <option *ngFor="let packType of packTypes" [value]="packType.packTypeId">{{packType.name}}</option>
            </select>
          </div>

          <!-- Product -->

          <div class="row">
            <div class="col">

              <div class="form-group">
                <label for="product">{{'PARTY.LABEL.WEIGHT' | translate}}</label>
                <input #product id="product" name="product" type="number" class="form-control"
                  [ngModel]="item.product" (ngModelChange)="setProduct($event)" [attr.readonly]="isDrying ||  isDel ? '' : null">
              </div>

            </div>
            <div class="col">

              <div class="form-group">
                <label for="product">{{'PARTY.LABEL.AVAILABLE' | translate}}</label>
                <input #available id="available" name="available" type="number" class="form-control"
                  [ngModel]="productAvailable" readonly>
              </div>

            </div>

          </div>

          <!-- Price -->
          <div *ngIf="!isDrying" class="form-group">
            <label for="dryPrice">{{'LABEL.PRICE' | translate}}</label>
            <input #price id="price" name="price" type="number" class="form-control" [(ngModel)]="item.price"
              [attr.readonly]="isDrying ||  isDel ? '' : null">
          </div>

        </div>
      </div>

    </div>
    <div class="col-xxl-6">

      <app-client-info title="{{'PARTY.LABEL.CUSTOMER' | translate}}" [isEdit]="!isDrying && !isDel" [client]="item?.client"
        (clickEdit)="pageClientShow()"></app-client-info>

    </div>
  </div>

  <a href="#" class="btn btn-secondary" [routerLink]="backLink()">{{'BUTTON.CANCEL' | translate}}</a>
  <input *ngIf="isNew && !isDel" type="submit" value="{{'BUTTON.NEW' | translate}}" class="btn btn-success float-right">
  <input *ngIf="!isNew && !isDel" type="submit" value="{{'BUTTON.SAVE' | translate}}"
    class="btn btn-primary float-right">
  <input *ngIf="isDel" type="submit" value="{{'BUTTON.DELETE' | translate}}" class="btn btn-danger float-right">
</form>
