<div class="card card-info card-outline">

  <div class="card-header">
    <h3 class="card-title"><span class="align-middle">{{'PARTY.LABEL.ORDER' | translate}}</span></h3>
  </div>

  <div class="card-body">

    <!-- Date -->
    <div class="row">
      <div class="col-xxl-4">
        <label>{{ 'LABEL.DATE' | translate }}</label>
      </div>
      <div class="col-xxl-8">
        <span>{{getDate()}}</span>
      </div>
    </div>

    <!-- Date -->
    <div class="row">
      <div class="col-xxl-4">
        <label>{{ 'PARTY.LABEL.PARTY' | translate }}</label>
      </div>
      <div class="col-xxl-8">
        <span>{{party.partyNumber}}</span>
      </div>
    </div>

    <!-- Party number -->
    <div class="row">
      <div class="col-xxl-4">
        <label>{{ 'PARTY.LABEL.AREA' | translate }}</label>
      </div>
      <div class="col-xxl-8">
        <span>{{party.area}}</span>
      </div>
    </div>

    <!-- DryProduct -->
    <div class="row">
      <div class="col-xxl-4">
        <label>{{ 'PARTY.LABEL.DRY' | translate }}</label>
      </div>
      <div class="col-xxl-8">
        <span>{{party.dryProduct}}</span>
      </div>
    </div>

    <!-- Price -->
    <div class="row">
      <div class="col-xxl-4">
        <label>{{ 'PARTY.LABEL.PRICE' | translate }}</label>
      </div>
      <div class="col-xxl-8">
        <span>{{party.dryPrice | number: '1.2'}}</span>
      </div>
    </div>

    <!-- Pack Type -->
    <div class="row">
      <div class="col-xxl-4">
        <label>{{ 'PARTY.LABEL.PRODUCE' | translate }}</label>
      </div>
      <div class="col-xxl-8">
        <span>{{party.packType?.name}}</span>
      </div>
    </div>

  </div>
</div>
