<div class="card card-info card-outline">

  <div class="card-header">
    <h3 class="card-title"><span class="align-middle">{{'PARTY.LABEL.ORDER' | translate}}</span></h3>
  </div>

  <div class="card-body">

    <!-- Date -->
    <div class="row">
      <div class="col-xxl-4">
        <label>{{ 'LABEL.DATE' | translate }}</label>
      </div>
      <div class="col-xxl-8">
        <span>{{getDate()}}</span>
      </div>
    </div>

    <!-- Date -->
    <div class="row">
      <div class="col-xxl-4">
        <label>{{ 'PARTY.LABEL.PARTY' | translate }}</label>
      </div>
      <div class="col-xxl-8">
        <span>{{party.partyNumber}}</span>
      </div>
    </div>

    <!-- Party number -->
    <div class="row">
      <div class="col-xxl-4">
        <label>{{ 'PARTY.LABEL.AREA' | translate }}</label>
      </div>
      <div class="col-xxl-8">
        <span>{{party.area}}</span>
      </div>
    </div>

    <!-- DryProduct -->
    <div class="row">
      <div class="col-xxl-4">
        <label>{{ 'PARTY.LABEL.PRODUCT.INFO' | translate }}</label>
      </div>
      <div class="col-xxl-8">
        <span>{{party.freshProduct}}</span>
        <span class="mx-1">/</span>
        <span class="text-primary">{{party.dryProduct}}</span>
        <i class="fa fa-arrow-right mx-3 text-muted"></i>
        <span class="text-primary">{{party.humidity | number: '1.1'}}</span>
        <span class="ml-1">%</span>
      </div>
    </div>

    <!-- Price -->
    <div class="row">
      <div class="col-xxl-4">
        <label>{{ 'LABEL.PRICE' | translate }}</label>
      </div>
      <div class="col-xxl-8">
        <span>{{party.dryPrice | number: '1.2'}}</span>
      </div>
    </div>

    <!-- Pack Type -->
    <div class="row">
      <div class="col-xxl-4">
        <label>{{ 'PARTY.LABEL.PRODUCE' | translate }}</label>
      </div>
      <div class="col-xxl-8">
        <span>{{party.packType?.name}}</span>
      </div>
    </div>

    <!-- Available -->
    <div class="row">
      <div class="col-xxl-4">
        <label>{{ 'PARTY.LABEL.AVAILABLE' | translate }}</label>
      </div>
      <div *ngIf="party.available > 0" class="col-xxl-8 text-danger">
        <span>{{party.available}}</span>
      </div>
    </div>


  </div>
</div>
