<app-title buttonCaption="{{ 'BUTTON.NEW' | translate }}" routerLink="/client/add">{{ 'CLIENT.TITLE' | translate }}
</app-title>

<app-list (resized)="onResized($event)">
  <table id="table" #table datatable [dtOptions]="dtOptions"
    class="dataTable table table-sm table-bordered table-striped projects">
    <thead>
      <tr>
        <th>{{ 'LABEL.NAME' | translate }}</th>
        <th></th>
        <th>{{ 'CLIENT.LABEL.ADDRESS' | translate }}</th>
        <th>{{ 'CLIENT.LABEL.RESIDENCE' | translate }}</th>
        <th></th>
      </tr>
    </thead>
    <tbody *ngIf="items?.length !== 0">
      <tr *ngFor="let item of items" [class]="item.notActive ? 'text-black-50' : ''">
        <td style="width:35%">{{ item.name }}</td>
        <td style="width:5%" class="text-center">{{ item.clientTypeTag }}</td>
        <td style="width:30%">{{ item.address }}</td>
        <td style="width:30%">{{ item.residence }}</td>
        <td class="w-content project-actions text-center">
          <a [class]="item.notActive ? 'btn-grass-secondary' : 'btn-grass-primary'" [routerLink]="['edit', item.clientId]"
            ngbTooltip="{{ 'BUTTON.EDIT' | translate }}" tooltipClass="tooltip-grass">
            <i class="fas fa-pencil-alt">
            </i>
            <span class="btn-text">{{ 'BUTTON.EDIT' | translate }}</span>
          </a>
          <a class="ml-1" [class]="item.notActive ? 'btn-grass-secondary' : 'btn-grass-info'" [routerLink]="['contracts', item.clientId]"
            ngbTooltip="{{ 'BUTTON.CONTRACT' | translate }}" tooltipClass="tooltip-grass">
            <i class="fas fa-file">
            </i>
            <span class="btn-text">{{ 'BUTTON.CONTRACT' | translate }}</span>
          </a>

          <div ngbDropdown class="d-inline-block ml-1">
            <a class="btn-grass-secondary caret-off" ngbTooltip="{{ 'BUTTON.COMMANDS' | translate }}"
              tooltipClass="tooltip-grass" id="dropdownBasic1" ngbDropdownToggle>
              <i class="fas fa-bars ">
              </i>
              <span class="btn-text">{{ 'BUTTON.COMMANDS' | translate }}</span>
            </a>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button ngbDropdownItem (click)="print(item.clientId)">{{ 'CLIENT.LABEL.MINAS.REPORT' | translate }}</button>
              <div class="dropdown-divider"></div>
              <a ngbDropdownItem class="text-danger" [routerLink]="['del', item.clientId]">Delete</a>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
    <tbody *ngIf="items?.length === 0">
      <tr>
        <td colspan="5" class="no-data-available text-center">{{ 'LABEL.NO_DATA' | translate }}!</td>
      </tr>
    </tbody>
  </table>
</app-list>

<div *ngIf="isPrint" id="dataToPrint">
  <app-minas-print #minas></app-minas-print>
</div>

<app-minas-param *ngIf="isMinas" #minasParam (closeEvent)="minasResult($event)"></app-minas-param>
