<app-message #message (closeEvent)="closeEvent($event)"></app-message>

<app-title>{{'BUTTON.NEW' | translate}}</app-title>

<app-editor>
  <form #form="ngForm" (ngSubmit)="onSubmit()" autocomplete="off">
    <div class="card card-primary">
      <div class="card-body">

        <!-- Name  -->
        <div class="form-group">
          <label for="name">{{'LABEL.NAME' | translate}}</label>
          <input #nameInput type="text" id="name" name="name" class="form-control" [(ngModel)]="item.name"
            #name="ngModel" required appAutofocus>
          <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger" role="alert">
            <div *ngIf="name.errors?.['required']">
              {{'LABEL.NAME.REQUIRED' | translate}}
            </div>
          </div>
        </div>

        <!-- Number  -->
        <div class="form-group">
          <label for="number">{{'LABEL.NUMBER' | translate}}</label>
          <div class="input-group">
            <input #number id="number" name="number" type="text" class="form-control"
              [(ngModel)]="item.packTypeNumber">
            <span class="input-group-append">
              <a class="btn btn-outline-secondary" (click)="chooseNumber()">
                <i class="fas fa-sync"></i>
              </a>
            </span>
          </div>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <a href="#" class="btn btn-secondary" [routerLink]="['/pack-type']">{{'BUTTON.CANCEL' | translate}}</a>
        <input type="submit" value="{{'BUTTON.NEW' | translate}}" class="btn btn-success float-right">
      </div>
    </div>
  </form>
</app-editor>
